




<style>
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

img {
  width: 20vw;
  height: 20vh;
}
</style>

<div class="card">
  <a href="https://romantic-kepler-d0f97a.netlify.com/#/" target="_blank">
  <img src="https://icon-library.net/images/author-icon/author-icon-10.jpg" alt="Avatar">
  <div class="container">
    <h4><b>Cork Book Fair</b></h4>
    <p>The following is a study in web development using Quasar</p>
  </a>
  </div>
</div>